---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
---

<Layout title='Frontend Mentor | GitHub user search app'>
  <header class='flex items-center justify-between'>
    <h1 class=''>devfinder</h1>
    <div class='flex items-center gap-4' id='darkMoon'>
      <h2 class=''>Dark</h2>
      <img src='/public/images/icon-moon.svg' alt='' class='' />
    </div>
    <div class='flex items-center gap-4' id='lightSun'>
      <h2 class=''>Light</h2>
      <img src='/public/images/icon-sun.svg' alt='' class='' />
    </div>
  </header>
  <main class=''></main>
</Layout>
